@model IEnumerable<hermesmvc.Models.Promotion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shipment_from)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active_from)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.promo_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edit_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionsStatus.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionsType.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.promo_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edit_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionsStatus.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionsType.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
