@model IEnumerable<hermesmvc.Models.PromotionsDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount_off)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.internal_code_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promotion.promo_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount_off)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.internal_code_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promotion.promo_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
